
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--==============================content================================-->
<div style="height: 50px;"></div>
<section id="content" class="AvdirR">
<h2>Welcome to<span> BC-VIT</span>, digital business cards for you.</h2>
<h3>I am Veselin Tanev.</h3>


<h3>
    I decided to create this site after seeing that people are struggling with their business cards.
    No need to carry business cards and card holders.
    You don't need extra storage on your mobile device.
    You will not lose your cards and those who have given you.
    Make your digital business card in a way that you like to you.

</h3>
<div style="height:150px;"></div>
<div class="clearfix"></div>
</section>

