@{
    ViewBag.Title = "Home Page";
}

<!----- EARTH SLIDE START --->
@*<div style="width:900px;">*@
<div class="row">
    <div class="col-md-3 col-xs-3"></div>
        @*<div id="background"></div>
        <div id="midground"></div>
        <div id="foreground"></div>*@
    <div class="col-md-6 col-xs-6">
        <!-- HTML Moving Text -->
        @*<div class="example1 daliQ"><h2>Make your digital business card in a way you like it.</h2></div>
        <div id="earth"></div>*@
    </div>
    <div class="col-md-3 col-xs-3"></div>
</div>
<!----- EARTH SLIDE END --->
@*<div id="slide1">
    <div class="content">*@
        @*<div id="christmas_tree"> </div>
            <div id="snowflakes1"></div>
            <div id="snowflakes2"></div>
            <h2>MERRY</h2>
            <h1>CHRISTMAS</h1>
            <div id="divider"> </div>
            <h3>HAPPY NEW YEAR </h3>
            <div id="ribbon"></div>
            <div id="new_year"> </div>*@
    @*</div>
</div>*@

<div id="slide3">
    <div class="content">
        <div class="quotes_container">
            <h3 class="quotes">“I truly believe that if we keep telling the Christmas story, singing the Christmas songs, and living the Christmas spirit, we can bring joy and happiness and peace to this world.”  </h3>
                <img src="/images/paralaximages/norman.png" align="left"/> <h4 class="author_name_white">Norman Vincent Peale </h4>
        </div>
    </div>
</div>

<div id="slide4">
    <div class="content">
        <div class="quotes_container">
            <div class="row">
                <div class="col-md-4">
                    <div class="date"><strong>29</strong><span>May, 2012</span></div>
                    <p>
                        <a href="#" class="link">Lorem ipsum dolor sit amet consetetur</a><br>Sadipscing elitriam nonumy eirmod nonumy eirmod tempor invidunt labore.
                    </p>
                </div>

                <div class="col-md-4">
                    <div class="date"><strong>21</strong><span>May, 2012</span></div>
                    <p>
                        <a href="#" class="link">Dolore magna aliquyam erat dolor</a><br>At vero eos et accusam et justo duo dolores et ea rebum stet clita kasd gubergren.
                    </p>
                </div>

                <div class="col-md-4">
                    <div class="date"><strong>Q - </strong><span>May, 2012</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="slide5">
    <div class="content">
        <div class="quotes_container">
            <h3 class="quotes">“My idea of Christmas, whether old-fashioned or modern, is very simple: loving others. Come to think of it, why do we have to wait for Christmas to do that?” </h3>
                <img src="img/bob.png" align="left" /> <h4 class="author_name_white">Bob Hope </h4>
        </div>
        <div id="copyright"><a href="http://www.1stwebdesigner.com/">Copyright 1stwebdesigner.com </a></div>
    </div>
</div>
<!----- SLIDES END --->