@model BCG_Manage.Areas.Store.Models.ShoppersViewModel
@{
    ViewBag.Title = "Register Shopper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Add new language.
        <small>Multilanguage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admin"><i class="fa  fa-home"></i> Home</a></li>
        <li>MultiLanguage</li>
        <li class="active">Add language</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Helper for info boxes after manipulating data -->
    @ResultHelper.ResultFromTempData(TempData)


    <!-- Default box -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">   Add  </h3>
                </div><!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">
                    @using (Ajax.BeginForm("ImageUploaderHandler", "Shoppers", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", @class = "form-group" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="file" name="files" class="btn btn-default"><br>
                        <input type="submit" value="Upload File to Server" class="btn btn-info">
                    }
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-success">0%</div>
                    </div>

                    <div id="status"></div>
                    <div id="gallery" class="col-md-12">
                        
                    </div>

                </div>

            </div><!-- /.box -->


        </div>

    </div>


</section><!-- /.content -->
@helper GalleryItem(List<string> imgsSrc)
{
foreach (var item in imgsSrc)
{
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src=@item alt="">
            </a>
        </div>
}
}
@section Scripts
{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script>
        function ImageDiv(imgSrc) {
            var image = "<div class='col-lg-3 col-md-4 col-xs-6 thumb'><a class='thumbnail' href='#'> <img class='img-responsive' src=" + imgSrc + "></a></div>";
            return image;
        };

        (function () {

            var bar = $('.progress-bar');
            var percent = $('.progress-bar');
            var status = $('#status');


            $('form').ajaxForm({
                beforeSend: function () {
                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                success: function () {
                    var percentVal = '100%';
                    bar.width(percentVal);
                    percent.html(percentVal);
                },
                complete: function (xhr) {

                    status.html(xhr.responseText);
                }
            });

        })();
    </script>
}
