
@{
    ViewBag.Title = "Използване на бисквитки";
}
<style>
    .jo {
        font-size: 1.1em;
    }
</style>
<h1 style="text-align:center;" class="daliQ2">Декларация за използване на бисквитки</h1>
<hr />

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h4>&#10004; За бисквитките</h4>
        <article class="jo">
            Уебсайтовете използват интелигентни и полезни методи за подобряване на удобството при работа
            и превръщане на сайта в максимално интересен за всеки посетител. Един от най-добрите известни
            методи е използването на бисквитки. Бисквитките са малки текстови файлове, които уебсайтовете
            запазват върху компютрите на потребителите. Бисквитките се класифицират в зависимост от продължителността на действието им и по това кой ги
            е създал. Считаме, че за вас е важно да сте информирани относно бисквитките,
            ползвани от нашия уебсайт, и целите, за които те се използват.
        </article>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h4>&#10004; Как @Html.ActionLink("www.bc-vit.bg", "Index", "Home")
                използва бисквитки</h4>
        <article class="jo">
            Сайтът @Html.ActionLink("www.bc-vit.bg", "Index", "Home")
            използва бисквитки,
            за да събира статистически данни за посетители и записва информация за вашите
            предпочитания по време на навигация в уеб-сайта. Нашата цел в ползването на бисквитки е
            да подобрим възможностите за използване на сайта от вас като посетител.
        </article>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h4>
            &#10004; Бисквитки и тяхната функционалност
        </h4>
        <article class="jo">
            За различни цели се използват различни типове бисквитки.
            Сайтът @Html.ActionLink("www.bc-vit.bg", "Index", "Home")
            използва временни бисквитки,
            които се съхраняват определен период в паметта на вашия компютър, докато сърфирате в сайта,
            например за да следят избрания от вас език. Те не се съхраняват в паметта на компютъра за
            продължителен период от време и изчезват, когато затворите вашия уеб браузър.
        </article>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h4>
            &#10004; Допълнение
        </h4>
        <article class="jo">
            Сайтът @Html.ActionLink("www.bc-vit.bg", "Index", "Home") си запазва правото
            периодично да внася изменения в настоящата декларация, отразяващи промените в
            нашия уебсайт или разпоредбите, свързани с бисквитките. Запазваме си правото, по всяко време
            и без предварително предупреждение, да променяме съдържанието на декларацията и списъка на
            бисквитките.
        </article>
    </div>
</div>
