<!--==============================content================================-->
@*<script src="~/Scripts/jquery-2.2.1.min.js"></script>*@

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<section id="content">

    <h2 class="daliQ">OUR PRODUCTS</h2>
    <br />


    <div id="showCards">
        <div id="natureBig">
            @*<span id="canBeMoved" class="daliQ1" contenteditable="true">*@
            <div id="drago" class="daliQ2" contenteditable="true">Name </div>
            <br />
            <span  class="daliQ2">
                Company Message
            </span>
            <br />
            <br />
            <span class="daliQ2" contenteditable="true">
                Full Name
            </span>
            <br />
            <span class="daliQ2">Job Title</span>
            <br />
            <br />
            <br />
            <span class="daliQ2">Phone / Other</span>
            <br />
            <span class="daliQ2">Email / Other</span>
            <br />
            <span class="daliQ2">Web / Other</span>
        </div>

        <div id="intuneBig" style="visibility:hidden;"></div>
        <div id="intuitikBig" style="visibility:hidden;"></div>
        <div id="deluxBig" style="visibility:hidden;"></div>
        <div id="evolveBig" style="visibility:hidden;"></div>
        <div id="phoenixBig" style="visibility:hidden;"></div>
        @*<div id="sixsenseBig"></div>
            <div id="sixsenseBig"></div>*@

    </div>

    <div class="clearfix"></div>
    <style>
        #daliQ {
            width: 100px;
            height: 100px;
            background: #ccc;
        }
        #drago{
            width:80%;
        }

        .daliQ2 { cursor: e-resize; }
     </style>
    @*<div id="draggable" class="ui-widget-content">
        <p>Drag me around</p>
    </div>*@


    @*<div id="draggable2" class="draggable ui-widget-content">
        <p>I can be dragged only horizontally</p>
    </div>*@

        <script>
           // $("#draggable").draggable();
            $(".daliQ2").draggable({ axis: "x" });
           // $("#draggable2").draggable({ axis: "x" });
        </script>

</section> 