@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #animatedCustom {
        /*width: 90%;*/
        /*height: 80%;*/
        border: 2px solid pink;
        margin: 0 auto;
        font-size:12px;
	color: #111;
	overflow-x:hidden;
    }
    h1.title{
				position:absolute;
				right:20px;
				top:0px;
				font-weight:normal;
				text-transform:uppercase;
				font-size:56px;
				color:#fff;
				background:transparent url(bg.png) repeat top left;
				padding:0px 15px 10px 15px;
			}
			h1.title span{
				font-size:14px;
				display:block;
}
			span.reference{
				font-family:Arial;
				position:fixed;
				right:10px;
				bottom:10px;
				font-size:10px;
			}
			span.reference a{
				color:#333;
				text-transform:uppercase;
				text-decoration:none;
				margin-left:20px;
			}
     
</style>

<h1>q</h1>
<div id="animatedCustom">



    @*<h1 class="title">Portfolio <span>Codrops Tutorial</span></h1>*@
    <div class="col-md-3">
        <div id="thumbContainter">
            <div id="thumbScroller">
                <div class="container">
                    <div class="content">
                        <div>
                            <a href="#"><img src="/images/thumbs/1.jpg" alt="" class="thumb" /></a>
                        </div>
                    </div>
                    <div class="content">
                        <div>
                            <a href="#"><img src="/images/thumbs/2.jpg" alt="" class="thumb" /></a>
                        </div>
                    </div>
                    <div class="content">
                        <div>
                            <a href="#"><img src="/images/thumbs/3.jpg" alt="" class="thumb" /></a>
                        </div>
                    </div>
                    <div class="content">
                        <div>
                            <a href="#"><img src="/images/thumbs/4.jpg" alt="" class="thumb" /></a>
                        </div>
                    </div>
                    <div class="content">
                        <div>
                            <a href="#"><img src="/images/thumbs/5.jpg" alt="" class="thumb" /></a>
                        </div>
                    </div>
                    <div class="content">
                        <div>
                            <a href="#"><img src="/images/thumbs/6.jpg" alt="" class="thumb" /></a>
                        </div>
                    </div>
                    <div class="content">
                        <div>
                            <a href="#"><img src="/images/thumbs/7.jpg" alt="" class="thumb" /></a>
                        </div>
                    </div>
                    <div class="content">
                        <div>
                            <a href="#"><img src="/images/thumbs/8.jpg" alt="" class="thumb" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-xs-4">
        <div class="pg_content custthumb">
            <div id="pg_title" class="pg_title">
                <h1 style="display: block; top: 25px;">Shape Company Website Design</h1>
                <h1>Summer of Love</h1>
                <h1>Smashing Multimedia</h1>
                <h1>Design Studio Project</h1>
                <h1>Graphpedia Blog Innovative Solutions</h1>
                <h1>My Portfolio Project</h1>
                <h1>1st Webdesigner</h1>
                <h1>Workspace Tools Conference</h1>
            </div>
            <div id="pg_preview">
                <img class="pg_thumb" style="display: block; z-index: 9999;" src="/images/medium/1.jpg" alt="images/large/1.jpg" />
                <img class="pg_thumb" src="/images/medium/2.jpg" alt="images/large/2.jpg" />
                <img class="pg_thumb" src="/images/medium/3.jpg" alt="images/large/3.jpg" />
                <img class="pg_thumb" src="/images/medium/4.jpg" alt="images/large/4.jpg" />
                <img class="pg_thumb" src="/images/medium/5.jpg" alt="images/large/5.jpg" />
                <img class="pg_thumb" src="/images/medium/6.jpg" alt="images/large/6.jpg" />
                <img class="pg_thumb" src="/images/medium/7.jpg" alt="images/large/7.jpg" />
                <img class="pg_thumb" src="/images/medium/8.jpg" alt="images/large/8.jpg" />
            </div>
            <div id="pg_desc1" class="pg_description">
                <div>
                    <h2>Project Description</h2>
                    <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                </div>
                <div>
                    <h2>Project Description</h2>
                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer.</p>
                </div>
                <div>
                    <h2>Project Description</h2>
                    <p> Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                </div>
                <div>
                    <h2>Project Description</h2>
                    <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                </div>
                <div>
                    <h2>Project Description</h2>
                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                </div>
                <div>
                    <h2>Project Description</h2>
                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer.</p>
                </div>
                <div>
                    <h2>Project Description</h2>
                    <p> Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                </div>
                <div>
                    <h2>Project Description</h2>
                    <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                </div>

            </div>
            <div id="pg_desc2" class="pg_description">
                <div style="display: block; left: 250px;">
                    <h2>Technologies Used</h2>
                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                </div>
                <div>
                    <h2>Technologies Used</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                </div>
                <div>
                    <h2>Technologies Used</h2>
                    <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
                </div>
                <div>
                    <h2>Technologies Used</h2>
                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                </div>
                <div>
                    <h2>Technologies Used</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                </div>
                <div>
                    <h2>Technologies Used</h2>
                    <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
                </div>
                <div>
                    <h2>Technologies Used</h2>
                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                </div>
                <div>
                    <h2>Technologies Used</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                </div>

            </div>
        </div>
    </div>

    
    <div id="overlay"></div>
  
</div>

