@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right BernardoModaContrast" style="width: 20%; ">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()
             <li class="BernardoModaContrast" style="text-align: right;">
                 @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
             </li>

        <li class="BernardoModaContrast" style="text-align: right;">
            <a href="javascript:document.getElementById('logoutForm').submit()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;
                Log off
            </a>
        </li>
    }
    </ul>
}
else
{
    <ul class="BernardoModaContrast" style="list-style: none; text-align: right;">
        <li class="BernardoModaContrast">
            <a href='@Url.Action("Register", "Account")' id="registerLink">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Register
            </a>
        </li>
        <li class="BernardoModaContrast">
            <a href='@Url.Action("Login", "Account")' id="loginLink">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Login
            </a>
        </li>
    </ul>
}
