
@{
    ViewBag.Title = "ProductsFake";
}

<div style="height: 80px;"></div>

<div style="text-align: center;">
    <h1 style="font-family:Papyrus; ">Comming soon...</h1>
    <img src="~/images/underconstruction.jpg" />


    <p>www.bc-vit.bg</p>
</div>

