@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Confirm email.
        <small>users</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Users</li>
        <li class="active">Confirm email</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Helper for info boxes after manipulating data -->
    @ResultHelper.ResultFromTempData(TempData)

    <!-- Default box -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">   Confirm success.  </h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <p>
                        Please check your email to reset your password.
                    </p>
                </div>

            </div><!-- /.box-body -->
         
        </div><!-- /.box -->
    </div>


</section><!-- /.content -->