.daliQ1 {
  font-family: TravelingTypewriter !important;
  font-size: 1em !important;
  color: #000 !important;
  margin-left: 5px;
}
.daliQ2 {
  font-family: TravelingTypewriter !important;
  font-size: 1.4em !important;
  color: #000 !important;
  margin-left: 5px;
}
#natureBig {
  background-color: powderblue;
  -webkit-box-shadow: 0 10px 6px -6px #777777;
  -moz-box-shadow: 0 10px 6px -6px #777777;
  box-shadow: 0 10px 6px -6px #777777;
  border: 2px solid black;
}
#intuneBig {
  position: absolute;
  z-index: 1002;
  width: 45%;
  height: 50%;
  border: 3px dotted black;
  border-radius: 20px;
  background-color: powderblue;
  -webkit-box-shadow: 0 10px 6px -6px #777777;
  -moz-box-shadow: 0 10px 6px -6px #777777;
  box-shadow: 0 10px 6px -6px #777777;
}
#deluxBig {
  position: absolute;
  z-index: 1003;
  border: 1px solid black;
  border-radius: 20px 0 20px 0;
  background-color: powderblue;
  -webkit-box-shadow: 0 10px 6px -6px #777777;
  -moz-box-shadow: 0 10px 6px -6px #777777;
  box-shadow: 0 10px 6px -6px #777777;
}
#sixsenseBig {
  position: absolute;
  z-index: 10004;
  width: 53%;
  height: 43%;
  border: 1px solid black;
  background-color: powderblue;
  -webkit-transform: skew(120deg);
  -moz-transform: skew(120deg);
  -o-transform: skew(120deg);
  -webkit-box-shadow: 0 10px 6px -6px #777777;
  -moz-box-shadow: 0 10px 6px -6px #777777;
  box-shadow: 0 10px 6px -6px #777777;
}
#evolveBig {
  position: absolute;
  z-index: 1005;
  width: 50%;
  height: 50%;
  border: 1px solid black;
  border-radius: 150px;
  background-color: powderblue;
  -webkit-box-shadow: 0 10px 6px -6px #777777;
  -moz-box-shadow: 0 10px 6px -6px #777777;
  box-shadow: 0 10px 6px -6px #777777;
}
#phoenixBig {
  position: absolute;
  z-index: 1006;
  width: 25%;
  height: 50%;
  border: 1px solid black;
  border-radius: 50%;
  background-color: powderblue;
  -webkit-box-shadow: 0 10px 6px -6px #777777;
  -moz-box-shadow: 0 10px 6px -6px #777777;
  box-shadow: 0 10px 6px -6px #777777;
}
/******************** Draggable and editable functions ***************************/
.drago {
  width: 98%;
  margin: 0 auto;
}
.drago .dragThis {
  padding: 0 15px 0 5px;
  color: firebrick;
}
/*End drago*/
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}
/******************** End Draggable and editable functions ***************************/
/******************** Flip Card Buttons ***************************/
.moveRight {
  text-align: right;
}
.arr {
  width: 15%;
  height: 15%;
}
.arr:hover {
  cursor: pointer;
}
/******************** End Flip Card Buttons ***************************/
/******************** Flip card functions ***************************/
.flip {
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  perspective: 400px;
  width: 100%;
  height: 250px;
  position: relative;
  background-color: #e0f0f0;
  background: url(/images/logo/bcvitLogo.PNG) 60% center no-repeat fixed;
}
.flipped {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  background-color: powderblue;
  background: url(/images/logo/bcvitLogo.PNG) 66% center no-repeat fixed;
  -webkit-box-shadow: 0 10px 6px -6px #777777;
  -moz-box-shadow: 0 10px 6px -6px #777777;
  box-shadow: 0 10px 6px -6px #777777;
}
.flip .card .back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background-color: powderblue;
}
/******************** End Flip card functions ***************************/
/*# sourceMappingURL=bussinessCardsStyle.css.map */