/*********** MAIN STUFFS ***************/
@font-face {
  font-family: 'TravelingTypewriter';
  src: url('../fonts/TravelingTypewriter.ttf') format('truetype');
}
.daliQ {
  font-family: TravelingTypewriter !important;
  font-size: 1.3em !important;
  /*color: #44ff00 !important;*/
}
.navbar-fixed-top {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.navbar-nav a {
  color: #9c27b0 !important;
}
/*********** END MAIN STUFFS ***************/
/*********** ROTATING EARTH ***************/
/*#earth-container{
     height:100px;
 }*/
#earth {
  position: absolute;
  width: 360px;
  height: 310px;
  top: 25%;
  left: 40%;
  margin: 3em auto;
  background: url("../images/EARTHATLASES/atlas.jpg") 0 0 repeat;
  border-radius: 50%;
  background-size: 630px;
  -moz-animation: rotate 6s linear infinite;
  -o-animation: rotate 6s linear infinite;
  -webkit-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
  -moz-transition: transform 300ms linear;
  -o-transition: transform 300ms linear;
  -webkit-transition: transform 300ms linear;
  transition: transform 300ms linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  box-shadow: inset 20px 0 60px 6px #000000;
  color: #000;
  z-index: 200;
}
#earth:after {
  content: "";
  position: absolute;
  z-index: 400;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -80px 15px 80px 10px rgba(0, 0, 0, 0.9) inset;
}
#earth:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 100px 100px, #ffffff, #000000);
}
@-moz-keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 630px 0;
  }
}
@-webkit-keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 630px 0;
  }
}
@keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 630px 0;
  }
}
/*********** END ROTATING EARTH ***************/
/************* ANIMATED TEXT *******************************************************/
.example1 {
  height: 50px;
  top: 200px;
  overflow: hidden;
  position: relative;
}
.example1 h2 {
  z-index: 400;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: example1 15s linear infinite;
  -webkit-animation: example1 15s linear infinite;
  -o-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes example1 {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(100%);
    /* Firefox bug fix */
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(-100%);
    /* Firefox bug fix */
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/************* END ANIMATED TEXT *******************************************************/
/*# sourceMappingURL=custPortalCss.css.map */