@{
    ViewBag.Title = "About";
}
<h2>Добре дошли в <span class="daliQ">BC-VIT</span>, цифрови визитки за вас.</h2>
<h3> Аз съм Веселин Танев.</h3>




<h3>
   
    Реших да създам този сайт след като видях че, хората се затрудняват със своите визитки. Не е нужно да носиш визитки и визитник. Не е нужно да имаш място за съхранение на мобилното си устройство. Няма да губиш своите визитки и тези които са ти дали. Направи своята цифрова визитка по начин който ти харесва на теб.

</h3>