
<style>
    .object-fit_contain {
        width: 60%;
        margin-bottom: 10px;
        -o-object-fit: contain;
        object-fit: contain;
    }
    #introCards{
        width:25%;
        margin-right:50px;
        float:left;
    }
    #showCards{
        width:70%;
        height:350px;
        float:right;
    }
    .daliQ1 {
    font-family: TravelingTypewriter !important;
    font-size: 2.2em !important;
    color: #fff !important;
    margin-left:5px;
}
        .daliQ2 {
    font-family: TravelingTypewriter !important;
    font-size: 1.4em !important;
    color: #fff !important;
    margin-left:5px;
}

    #natureBig {
        position:absolute;
        z-index:1001;
        width: 45%;
        height: 50%;
    
        background-color: powderblue;
       -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	     box-shadow: 0 10px 6px -6px #777;
         border:1px solid black;
    }

    #intuneBig{
        position:absolute;
        z-index:1002;
        width: 45%;
        height: 50%;
          border:3px dotted black;
        border-radius: 20px;
        background-color: powderblue;
       -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	     box-shadow: 0 10px 6px -6px #777;
    }

    #deluxBig{
        position:absolute;
        z-index:1003;
        width: 45%;
        height: 50%;
        border: 1px solid black;
        border-radius: 20px 0 20px 0;
        background-color: powderblue;
       -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	     box-shadow: 0 10px 6px -6px #777;
    }

    #sixsenseBig{
        position:absolute;
        z-index:10004;
      width: 53%;
        height: 43%;
       border: 1px solid black;
        background-color: powderblue;
	-webkit-transform: skew(120deg);
	   -moz-transform: skew(120deg);
	     -o-transform: skew(120deg);
         
       -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	     box-shadow: 0 10px 6px -6px #777;
    }

    #evolveBig{
        position:absolute;
        z-index:1005;
        width: 50%;
        height: 50%;
        border: 1px solid black;
        border-radius: 150px ;
        background-color: powderblue;
       -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	     box-shadow: 0 10px 6px -6px #777;
    }

      #phoenixBig{
        position:absolute;
        z-index:1006;
        width: 25%;
        height: 50%;
        border: 1px solid black;
        border-radius: 50% ;
        background-color: powderblue;
       -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	     box-shadow: 0 10px 6px -6px #777;
    }

    .under {
        display: block !important;
    }

    .underA {
        width: 30%;
    }

    .leftye{
        float:left;
    }
</style>

<!--==============================content================================-->
<section id="content">



    <h2 class="daliQ">OUR PRODUCTS</h2>
    <br />


    <div id="introCards">
        @* 1 *@
        <div class="under">
            <div class="underA">
                <img src="/images/busCards/demot.jpg" alt="" class="object-fit_contain ">
                <div>
                    @*<button id="NATURE" class="btn btn-link">Customize</button>*@
                    <a href="#" id="NATURE" class="btn btn-link">1. NATURE</a>
                </div>
            </div>
        </div>
        <hr style="width:18%; float:left" />

        @* 2 *@
        <div class="under">
            <div class="underA">
                <img src="/images/busCards/d.jpg" alt="" class="object-fit_contain">
                <div>
                    @*<button id="INTUNE" class="btn btn-link">Customize</button>*@
                    <a href="#" id="INTUNE" class="btn btn-link">2.INTUNE</a>
                </div>
            </div>
        </div>
        <hr style="width:18%; float:left" />

        @* 3 *@
        <div class="under">
            <div class="underA">
                <img src="/images/busCards/d.jpg" alt="" class="object-fit_contain">
                <div>
                    <button id="iNTUITIK" class="btn btn-link">Customize</button>
                </div>
            </div>
        </div>
        <hr style="width:18%; float:left" />

        @* 4 *@
        <div class="under">
            <div class="underA">
                <img src="/images/busCards/d.jpg" alt="" class="object-fit_contain">
                <div>
                    @*<button id="DELUX" class="btn btn-link">Customize</button>*@
                    <a href="#" id="DELUX" class="btn btn-link">4.DELUX</a>
                </div>
            </div>
        </div>
        <hr style="width:18%; float:left" />

        @* 5 *@
        <div class="under">
            <div class="underA">
                <img src="/images/busCards/d.jpg" alt="" class="object-fit_contain">
                <div>
                    <a href="#" id="SIXSENSE" class="btn btn-link">SIXSENSE</a>
                    @*<p><a id="SIXSENSE">Show SIXSENSE</a></p>*@
                </div>
            </div>
        </div>
        <hr style="width:18%; float:left" />

        @* 6 *@
        <div class="under">
            <div class="underA">
                <img src="~/images/busCards/demot.jpg" alt="" class="object-fit_contain">
                <div>
                    @*<button id="DELUX" class="btn btn-link">Customize</button>*@
                    <a href="#" id="EVOLVE" class="btn btn-link">6.EVOLVE</a>
                </div>
            </div>
        </div>
        <hr style="width:18%; float:left" />

        @* 7 *@
        <div class="under">
            <div class="underA">
                <img src="~/images/busCards/demot.jpg" alt="" class="object-fit_contain">
                <div>
                    @*<button id="DELUX" class="btn btn-link">Customize</button>*@
                    <a href="#" id="PHOENIX" class="btn btn-link">6.PHOENIX</a>
                </div>
            </div>
        </div>
        <hr style="width:18%; float:left" />
    </div>
    <div id="showCards">
   
     
        <div id="natureBig" style="visibility:hidden;">
            <span class="daliQ1" contenteditable="true">
                Company Name
            </span>
            <br />
            <span class="daliQ2" contenteditable="true">
                Company Message
            </span>
            <br />
            <br />
            <span class="daliQ1" contenteditable="true">
                Full Name
            </span>
            <br />
            <span class="daliQ2" contenteditable="true">
                Job Title
            </span>
            <br />
            <br />
            <br />
            <span class="daliQ2" contenteditable="true">
                Phone / Other
            </span>
            <br />
            <span class="daliQ2" contenteditable="true">
                Email / Other
            </span>
            <br />
            <span class="daliQ2" contenteditable="true">
                Web / Other
            </span>
        </div>
        <div id="intuneBig" style="visibility:hidden;"></div>
        <div id="intuitikBig" style="visibility:hidden;"></div>
        <div id="deluxBig" style="visibility:hidden;"></div>
     
        <div id="evolveBig" style="visibility:hidden;"></div>
        <div id="phoenixBig" style="visibility:hidden;"></div>
            @*<div id="sixsenseBig"></div>
            <div id="sixsenseBig"></div>*@
        
    </div>

    <div class="clearfix"></div>

    <script>
        document.getElementById("SIXSENSE").onclick = function () {
            document.getElementById("sixsenseBig").style.visibility = "visible";
        }
        document.getElementById("NATURE").onclick = function () {
            document.getElementById("natureBig").style.visibility = "visible";
        }
        document.getElementById("INTUNE").onclick = function () {
            document.getElementById("intuneBig").style.visibility = "visible";
        }
        document.getElementById("DELUX").onclick = function () {
            document.getElementById("deluxBig").style.visibility = "visible";
        }
        document.getElementById("EVOLVE").onclick = function () {
            document.getElementById("evolveBig").style.visibility = "visible";
        }
        document.getElementById("PHOENIX").onclick = function () {
            document.getElementById("phoenixBig").style.visibility = "visible";
        }
    </script>



    <!-- Trigger the modal with a button -->
    <a href="#" class="button top-4" data-toggle="modal" data-target="#myModal">
        Customize
    </a>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content  -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div id="editor"></div>
                    myahaha
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section> 